body{
	background-color: #e2e2e2;
}
.banner{
	width: 100%;
	height: 93vh;
	color: white;
	background-image: Linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url(../image/home.jpeg);
	background-size: cover;
	background-position: 50% 50%;
	
}

.bg-primary{
	background: #009688 !important;
}
.my-card{
	padding: 20px;
	background-color: white;
}
.color{
	background: #009688 !important;
}
.primary-text{
	color: #009688 !important;
}

#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 400px;
  border: 1px solid #9C9C9C;
  background-color: white;
 	
}
#login .container #login-row #login-column #forgot-box {
  margin-top: 120px;
  max-width: 600px;
  height: 260px;
  border: 1px solid #9C9C9C;
  background-color: white;
 	
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}

/* sidebar */
@media only screen and (max-width: 600px){
	.sidebar{
		display: none;
		width: 80% !important;
		background: white;
		height: 100%;
		position: fixed;
		padding-top: 20px;
	}
	.content{
		margin-left:0% !important; 
	}
}

.sidebar{
	width: 18%;
	height: 100%;
	background: white;
	position: fixed;
	padding-top: 45px;
	z-index: 56;

}

.sidebar a{
	display: block;
	text-decoration: none;
	width: 100%;
	padding: 10px 25px;
	color: gray;
	
}

.sidebar .divider{
	height: .5px;
	width: 100%;
	margin-top: 10px;
	background: #e2e2e2;
	
}
.sidebar a:hover{
	background-color: #e2e2e2;
}
.sidebar .crossBtn{
	position: absolute;
	top: 0;
	right: 30px;
	font-size: 36px;
	cursor: pointer;
}

.content{
	margin-left: 20%;
}

.bars:hover {
	cursor: pointer;
}

.my_profile_pic{
	width: 35px;
	height: 30px;
	object-fit: cover;
	border-radius: 50%;
}


/* serch design */
.search-container{
	position: relative;
	
}
.search-result{
	position: absolute;
	background: white;
	width: 100%;
	padding: 10px;
	border: 1px solid gray;
	display: none;
}
.nofound{
	position: absolute;
	background: white;
	width: 100%;
	padding: 10px;
	border: 1px solid gray;
	display: none;
	z-index: 4444444;
}

.active{
	background: #009688 !important;
	color: white !important;
}


/*  eye icon */
span.field-icon {
   position: absolute;
  display: inline-block;
  cursor: pointer;
  right: 1.3rem;
  top: 5.5rem;
  color: $input-label-color;
  z-index: 5;
}







