<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" th:replace="base::Layout(~{::section})">
<head>
	<meta charset="UTF-8" />
	<title>HomePage</title>
</head>
<body>
	<section>
		 <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="forgot-box" class="col-md-12 shadow-lg">
                        <!-- email form   -->
                        <h4 class="text-center m-3">Your Registered Email</h4>
                        <div th:if="${session.message}"
								th:classappend="${session.message.type}" class="alert"
								role="alert">
								<p class="text-center" th:text="${session.message.content}"></p>
								<th:block th:text="${#session.removeAttribute('message')}"></th:block>
						</div>
                        <form th:action="@{/send-otp}" method="post">
                        	<div class="form-group">
                        		<input type="email" name="email" class="form-control" placeholder="enter your email address" required/>
                        	</div>
                        	<div class="container text-center">
                        		<button class="btn btn-warning text-white">Send OTP</button>
                        	</div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
	</section>
	
</body>
</html>